.highlight {
  color: red;
  background-color: yellow;
}
.on {
  background-color: green;
  color: white;
}

.active-header {
  font-size: 42px;
  color: blue;
}

.bold {
  font-weight: bold;
}

.active {
  color: white;
  transform: scale(1.02);
}
body {
}

body,
.btn {
  transition: background-color 0.3s ease;
}

.hide-show {
  display: none;
}
